<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <p width="25%">Please upload a comma seperated CSV. When printing the file, please be sure to use the "Use entire page" option and print on 2 sides (Cut lines are on the back of each page).
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" accept=".csv"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
